/*main page styles and general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(50, 49, 49);
}
/*main page styles and general*/

.mobileBod {
  width: 320px;
  height: 1800px;
  background-color: #97b9b9;
  text-align: center;
}
.mobile {
  border: 10px solid grey;
}
header {
  background-color: #f4b393;
  height: 80px;
  width: 320px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer {
  background-color: #f4b393;
  height: 90px;
  width: 320px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main {
  padding: 10px;
}
main::-webkit-scrollbar {
  width: 0;
}
#list {
  width: 300px;
  height: fit-content;
  margin-top: 80px;
  background-color: #ceec97;
  border: 3px solid #9fb96e;
}

/*header og footer objects*/
#small-icon {
  width: 55px;
  height: 55px;
}
#home-page {
  cursor: pointer;
}
/*header og footer*/

/*multiuse classes*/
.menu-btn {
  width: 55px;
  height: 55px;
  background-color: #9dd1f1;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-btn > img {
  width: 35px;
  height: 35px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
/*multiuse classes*/
