/*main page styles and general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(50, 49, 49);
}
/*main page styles and general*/

/* main page styling*/
.mobileBod {
  width: 320px;
  height: 1800px;
  background-color: #97b9b9;
  text-align: center;
}
.mobile {
  border: 10px solid grey;
}
header {
  background-color: #f4b393;
  height: 80px;
  width: 320px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer {
  background-color: #f4b393;
  height: 90px;
  width: 320px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main {
  padding: 10px;
}
section {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  background-color: #5e5a5a;
}
section > div {
  display: flex;
  flex-direction: column;
}
/* main page styling*/

/*logg inn screen styles */
#loggscreen {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
#loggscreen > input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-indent: 20px;
  border: 2px solid #769696;
}
#loggscreen > .row > button {
  background-color: #97b9b9;
  margin: 10px auto;
  border: 2px solid #769696;
  width: 85px;
  height: 42px;
  border-radius: 20px;
  cursor: pointer;
}
#loggscreen > .row > button:hover {
  background-color: #769696;
}
#loggscreen > .row > button:active {
  border: 2px solid #97b9b9;
}
#error-msg {
  color: rgb(213, 24, 24);
}
/*logg inn screen styles */

/*main page styles*/
main::-webkit-scrollbar {
  width: 0;
}
#loggedinnpage {
  display: none;
  text-align: center;
  margin-top: 80px;
  max-height: 444px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*main page styles*/

/*header og footer objects*/
#small-icon {
  width: 55px;
  height: 55px;
}
#home-page {
  cursor: pointer;
}
/*header og footer*/

/*multiuse classes*/
.menu-btn {
  width: 55px;
  height: 55px;
  background-color: #9dd1f1;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-btn > img {
  width: 35px;
  height: 35px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
/*multiuse classes*/

/* these are the mobile sizes
 width: 430px;
  height: 932px;
  */
